body {
	font-family: karla;
	text-align: left;
	background-color: hsl(204, 43%, 93%);
	padding: 20%;
}

#join {
	padding: 5%;
	background-color: white;
}

#monthly {
	padding: 5%;
	background-color: hsl(179, 62%, 43%);
	color: hsl(204, 43%, 93%);
}

#why {
	padding: 5%;
	background-color: hsl(179, 62%, 43%);
	color: hsl(204, 43%, 93%);
}

.btn {
	background-color: hsl(71, 73%, 54%);
	color: hsl(204, 43%, 93%);
}

.btn:hover {
	color: white;
	background-color: hsl(71, 73%, 50%);
}